<nav>

    <button mat-raised-button color="primary"><a href="#burger">Hamburguesas</a></button>
    <button mat-raised-button color="primary"><a href="#sandwiches">Sandwiches Calientes</a></button>
    <button mat-raised-button color="primary"><a href="#fritos">Fritos</a></button>
    <button mat-raised-button color="primary"><a href="#pizzas">Pizzas y Empanadas</a></button>
    <button mat-raised-button color="primary"><a href="#bebidas">Bebidas</a></button>
    <button mat-raised-button color="primary"><a href="#licuados">Licuados y Tragos</a></button>

</nav>
