.texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}

.titulo {
  font-weight: 500;
  color: bisque;
}

.precio{
  color:rgb(100, 177, 100);
  text-align: right;
  font-weight: 600;
}

.promo {
  display: flex;
  color: white;
  flex-direction: row;
  margin-bottom: 5px;
  background-color: rgb(55 55 55);
  width: 98%;
  margin: auto;
  margin-top: 5px;
}

img {
  width: 15%;
}

h1{
color: white;
text-align: center;

}


